
body {
  margin: 0;
  padding: 0;
  background-color: #03002E;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #03002E;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 10px;
}

ul li {
  float: center;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.topnav {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(12, 20, 48, 1);
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(0);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;}


.topnav {
  background-color: rgba(12, 20, 48, 0.5);
  backdrop-filter: blur(4px);
}

.topnav a {
  color: #03002E;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 18px;

  border-radius: 250px;
  position: relative;

  text-shadow:
    0 0 4px #00001A,
    0 0 8px #00001A;
}
