
body {
  margin: 0;
  padding: 0;
  background-color: #796878;
}

ul {
  background-color: #796878;
  display: flex;
  justify-content: center;
}

ul li {
  float: center;

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
