
body {
  margin: 0;
  padding: 0;
  background-color: #796878;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #796878;
  display: flex;
  justify-content: center;
}
