
body {
  background-color: #000047;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 650px;
}

div { 
    background-color: #FFE6FF;
  margin: 0;
  width: 1100px;
  height: 600px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #e1b7f7;
  padding: 10px;
  }




