body {

  background-color: #796878;
}

p {
  color: ##1A001A;
  text-align: justify;
  font-family: courier;
  margin: auto;
   padding: 10px;
}

h1 {
  color: ##1A001A;
   text-align: center;
  font-family: verdana;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 50%;
}

div {
  width: 950px;
  height: 750px
}
