body {
  margin: 0;
  padding: 0;
  background-color: #796878;
}
p {
  color: ##1A001A;
  background-color: #AA98A9;
  text-align: justify;
  border: 10px solid black;
  font-family: courier;
  margin: auto;
   padding: 10px;
  width: 50%;
}

h1 {
  color: ##1A001A;
   text-align: center;
  font-family: verdana;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 50%;
}
