body {
  margin: 0;
  padding: 0;
  background-color: #796878;
}

p {
  color: white;
  background-color: #AA98A9;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
   display: block;
  margin-left: auto;
  margin-right: auto;
}
