body {
background-image: url("bg.html")
}

p {
  color: white;
  background-color: #AA98A9;
  text-align: justify;
  border: 10px solid black;
   margin: auto;
   padding: 10px;
  width: 50%;
}

h1 {
  color: white;
   text-align: center;
}
