body {
  background-color: #000047;
}

 .button {
    text-decoration: none;
  background-color: #00001A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

a {
text-decoration: none;
}

    .button1:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}
    .button2:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}
    .button3:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}

  
h1 { 
  color: white;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 350px;
}

div { 
    background-color: #8A8AFF;
  margin: 0;
  width: 1100px;
  height: 400px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #00001A;
  padding: 10px;
  }
