body {
  background-color: #796878;
}

p {
  color: white;
  text-align: justify;
   margin: auto;
   padding: 10px;
 
}

h1 {font-family: verdana;
      color: #1A001A;} 

h2 {
  color: white;
   text-align: center;
}
