body {
  background-color: #796878;
}

p {
  color: black;
  text-align: justify;
   margin: auto;
   padding: 10px;
 
}

h1 {font-family: verdana;
      color: #1A001A;} 

h2 {
  color: black;
   text-align: center;
}

  div { 
    background-color: #FFE6FF;
      align: center;
  }
