body {
  background-color: #796878;
}

p {
  color: black;
  text-align: justify;
   margin: auto;
   padding: 10px;
 
}

h1 {font-family: verdana;
      color: #1A001A;} 

h2 {
  color: black;
   text-align: center;
}

  div { 
    background-color: #FFE6FF;
  margin: 0;
  width: 1100px;
  height: 600px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #e1b7f7
  padding: 10px;
  }
