body {
  background-color: #796878;
}

p {
  color: white;
  background-color: #AA98A9;
  text-align: justify;
   border: 10px solid black;
   margin: auto;
   padding: 10px;
  width: 50%;
}

h1 {font-family: verdana;
      color: #1A001A;} 

h2 {
  color: white;
   text-align: center;
}
